body {
    background-image: url("../img/black_twill.png"); /* Background pattern from Toptal Subtle Patterns (www.toptal.com) */
    background-color: #0d110d;
}

header.mainmenu {
    background-color: #3b3b3b;
    height: 7%;
    margin: 15% 3% 2%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

div.Logo {
    position: absolute;
    max-width:80%;
    height:auto;
    object-fit: contain;
    top: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.Home, div.Characters, div.Lore, div.DiscordBot, div.Patreon{
    margin-top: 18;
    margin-bottom: 0;
    margin-left: 50;
    margin-right: 150;    
    font-family: "Verdana", cursive, sans-serif;
    top: 0%;
    bottom: 20%;
    font-size: 22;
    text-align: center;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    display: inline-block;
    color: #FFFFFF;
    text-decoration-color: #FFFFFF;
    text-shadow: #000000 3px 3px 5px; 
}

div.Home:hover, div.Characters:hover, div.Lore:hover, div.DiscordBot:hover, div.Patreon:hover { 
    color: rgba(255, 255, 255, 1);
    border-bottom: 5px solid #ffffff
}